.git
.gitignore
.env
.env.*
!.env.example

key.txt
kma_api_hub_key.txt
vworld_key.txt

frontend/node_modules
frontend/dist
frontend/vite.log
node_modules

backend/db.sqlite3
*.sqlite3
*.log
__pycache__
*.pyc

서울4반_2조_ForestRx.docx
그림*.png
